.overall-body {
    background-color: white;
    height: 550px;
    width: unset;
    font-size: 20px;
    color: rgb(106, 100, 100);
    padding-top: 135px;
    padding-bottom: 55px;
}

.top-bar {
    background-color: rgb(50, 45, 45);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height:120px ;
    border-bottom-width: 19px;
    border-bottom-style: solid;
    border-bottom-color: rgb(84, 80, 80);
  


}

.header {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: grey;
} 

.logo{
    background-color: blue;
    width: 50px;
    height: 65px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom:10px ;
    display: flex;
    flex: 1;
    border-top-left-radius:50px ;;
    border-style: solid;
    border-color: rgb(200, 195, 195);
    border-width: 1px;
    border-right-style: none;

}

.logo-name {
    width: 46px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    text-decoration: underline;
    font-weight: bold;
    color: white;
    margin-top: 30px;
    margin-right: 20px;;
    margin-left: 10px;
}


.company-name {
    background-color: rgb(240, 240, 238);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-right: 20px;
    padding-left: 90px;
    height: 65px;
    flex: 3;
    max-height: 70px;
    border-style: solid;
    border-color: rgb(200, 195, 195);
    border-width: 1px;
    border-top-right-radius:50px ;
    border-bottom-right-radius: 50px;
    border-left-style: none;
}

.navigation {
    background-color: white;
    height: 50px;
    font-family: Arial;
    border-bottom-width:2px ;
    border-bottom-color: red;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation-button1 {
    background-color: rgb(236, 239, 240);
    display: flex;
    flex: 1;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 10px;
    padding-left: 20px;
    margin-left: 10px;
    height: 40px;
    border-radius: 3px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navigation-button2 {
    background-color: rgb(236, 239, 240);
    display: flex;
    flex: 1;
    margin-right: 10px;
    height: 40px;
    border-radius: 3px;
}

.navigation-button3 {
    background-color: rgb(236, 239, 240);
    display: flex;
    flex: 1;
    margin-right: 10px;
    height: 40px;
    border-radius: 3px;
}

.navigation-button4 {
    background-color: rgb(236, 239, 240);
    display: flex;
    flex: 1;
    margin-right: 10px;
    height: 40px;
    border-radius: 3px;
}

.navigation-button5 {
    color: white;
    background-color: blue;
    display: flex;
    flex: 1;
    margin-right: 10px;
    height: 40px;
    border-radius: 3px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}


.navigation-button1:active {
    color: white;
    background-color: blue;
    transition: 1s;
}

.navigation-name {
    font: arial;
    font-weight: bold;
    font-size: 15px;
    padding-left: 8px;
    color: black;
    text-decoration: underline;
}

.navigation-button1:hover,
.navigation-button2:hover,
.navigation-button3:hover,
.navigation-button4:hover,
.navigation-button5:hover{
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    color: black;
    cursor: pointer;
    transition: 0.5s;
}

.content {
    background-color:rgb(244, 238, 239);
    height: 1000px;
    display: flex;
    flex: 1;
    flex-direction: column;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color:rgb(171, 173, 181);
    
}

.interaction {
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgb(197, 189, 189);
}

.profile {
    background-color: white;
    display: flex;
    height: 50px;
    width: 100px;
    margin-left: 10px;
    margin-right: 20px;
    justify-content: center;
}

.profile-pic {
    width: 50px;
    border-radius: 25px;

}

.message {
    background-color: white;
    height: 50px;
    display: flex;
    flex: 1;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
}

.message-me {
    height: 30px;
    display: flex;
    flex: 1;
    max-width: 600px;
    padding-left: 40px;
    border-width: 0px;
    border-radius: 20px;
    background-color: rgb(221, 222, 234);
    font-size: 15px;
}

.message-me::placeholder {
    font-size: 15px;
}

.message-me:active {
    background-color: white;
    color: black;
    border-width: opx;
    border-color: rgb(227, 235, 235);
}

.message-me:hover {
    background-color: white;
    border-width: 1px;
    border-color: rgb(221, 226, 230);
    transition: 0.6s;
}
.facebook {
    background-color: white;
    height: 50px;
    display: flex;
    margin-right: 10px;
    
}

.facebook-button {
    width: 50px;
    border-radius: 25px;
    border-width: 1px;
    border-color: rgb(189, 182, 182);
    background-color: white;
}

.facebook-button-font {
    font-size: 40px;
    font-weight: bolder;
   margin: 0px;
   color: blue;
}

.facebook-button:hover {
    background-color: rgb(106, 106, 254);
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.facebook-button-font:hover {
    color: white;
}



.whatsapp {
    background-color: white;
    height: 50px;
    width: 150px;
    display: flex;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
}

.whatsapp-button {
    height: 35px;
    background-color:rgb(53, 207, 53) ;
    font-weight: bold;
    color: white;
    border-radius: 25px;
    padding-left:15px ;
    padding-right:15px ;
    border: none;
    cursor: pointer;
}

.whatsapp-button:hover {
    background-color: white;
    color: rgb(53, 207, 53);
    border: solid;
    border-width: 1px;
    border-color: rgb(53, 207, 53);

}


.previews {
    background-color: blue;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 5px;
    margin-bottom: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    column-gap: 20px;
    flex-direction: column;
    flex: 1;
    font-family: Arial;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: grey;


}

@media (max-width :599px) {
    .previews{
        grid-template-columns: 1fr;
    }
}

@media (min-width :600px) {
    .previews{
        grid-template-columns:1fr 1fr;
    }
}

@media (min-width :800px) {
    .previews{
        grid-template-columns:1fr 1fr 1fr;
    }
}

@media (min-width :1000px) {
    .previews{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width :1200px) {
    .previews{
        grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    }
}

@media (min-width :1400px) {
    .previews{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

.projects {
    background-color: white;
    margin-top: 10px;
    margin-bottom:10px ;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 8px;
    max-width:100px ;
    height: 200px;

}

.previews-body {
    background-color: rgb(249, 242, 243);
    padding-left: 80px;
    display: flex;
    flex: 3;
    margin-bottom: 5px;
    font-family: Arial;
}

.bottom-bar {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 70px;
    border-bottom-right-radius:10px ;
    border-bottom-left-radius:10px ;
}

.footer {
    background-color: white;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-top-width: 2px;
    border-bottom-right-radius:10px ;
    border-bottom-left-radius: 10px;
    padding-left: 80px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: Arial;
    display: flex;
    color: black;
    font-weight: light;
    font-family: roboto,arial;
    padding-top: 10px;
    text-decoration: underline;
}

.copyright {
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}