.page {
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
    background-image: image();
    height: 600px;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
}

.header {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 1px;
    margin-left:2ch ;
    margin-right:20px ;
    border-top-left-radius:20px ;
    border-top-right-radius:20px ;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}

.company-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: blue;
}

.content {
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-bottom: 0px;
    margin-left:9px ;
    margin-right:11px ;
    border-left-width:1px ;
    border-left-style:solid;
    border-left-color:grey ;
    border-right-width:1px ;
    border-right-style:solid;
    border-right-color:grey ;
    border-top-width: 5px;
    border-top-color:grey ;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color:grey ;

}

.document-box {
    background-color: rgb(237, 237, 237);
    height: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 460px;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.username-box {
    background-color: rgb(239, 240, 243);
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 120px;
    margin-left: 10px;
    width: 450px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color:grey ;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color:grey ;
    
}

.input-username {
    height: 50px;
    width:430px ;
    border-radius: 30px;
    padding-left: 20px;
    font-size: 15px;
    border: none;
    border-color: grey;
    background-color: rgb(220, 222, 225);
    color: black;

}

.input-username:active {
    font-size: 15px;
    font-weight: bold;

}

.input-username:hover {
    border-color: grey;
    border-width: 1px;
    border-style: solid;
    background-color: rgb(220, 222, 225);
}

.input-username::placeholder {
    font-size: 15px;
    padding-left: 10px;
}

.password-box {
    background-color: rgb(239, 240, 243);
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 120px;
    margin-left: 10px;
    width: 450px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color:grey ;
}

.input-password {
    height: 50px;
    width:430px ;
    border-radius: 30px;
    padding-left: 20px;
    border: none;
    font-size: 15px;
    border-color: grey;
    background-color: rgb(220, 222, 225);

}

.input-password:active {
    font-size: 20px;
    font-weight: bold;
}

.input-password:hover {
    border-color: grey;
    border-width: 1px;
    border-style: solid;
    background-color: rgb(220, 222, 225);


}

.input-password::placeholder {
    font-size: 15px;
    padding-left: 10px;
    
}

.login-box {
    background-color: rgb(239, 240, 243);
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 120px;
    margin-left: 10px;
    width: 450px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color:grey ;
}

.login-button {
    width: 150px;
    margin-left: 20px;
    margin-right: 20px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(11, 93, 245);
    color: white;
    font-size: 20px;
    font-weight: bolder;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    cursor: pointer;
}

.login-button:hover {
    background-color: white;
    color: blue;
    border-width: 1px;
    border-color: grey;
    transition: 0.5s;
}

.login-button:active {
    background-color: rgb(11, 93, 245);
    color: white;
    font-size: 20px;
    font-weight: bolder;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    transition: 0.3s;
}
.register-button {
    width: 150px;
    margin-left:0px ;
    margin-right: 20px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    color:rgb(45, 45, 45);
    font-size: 20px;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    cursor: pointer;
}

.register-button:hover {
    background-color: rgb(45, 45, 45);
    color:white;
    font-size: 20px;
    font-weight: bolder;
    transition: 0.7s;
}

.register-button:active {
    opacity: 0.25;
    transition: 2s;
}

.home-key {
    color: black;
    font-size: 15px;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    cursor: pointer;
}

.home-key:hover {
    background-color: grey;
    color: white;
    transition: 0.4s;
}

.home-key:active {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bold;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    transition: 0.6s;
}

.footer {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 50px;
    margin-bottom: 2px;
    margin-left:18px ;
    margin-right:20px ;
    padding-left: 20px;
    border-bottom-left-radius:20px ;
    border-bottom-right-radius:20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-style: solid;
    border-width: 1px;
    border-color: grey;

}

.rights {
    margin-left: 10px;
    font-size: 12px;
    padding-top: 4px;
}